body {
    padding: 0%;
    margin: 0%;
    background-color: #f6f6f6;
    font-family: 'lora', serif;
}

header {
    background-color: #008489;
    height: 66px;
}

header * {
    color: white;
}

span {
    color: #0ee7ee;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 80px;
}

header .logo-text {
    margin: 8px;
    font-family: 'candal', serif;
}

header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

header ul li ul {
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
}
header ul li:hover ul {
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul a {
    padding: 10px;
    background-color: white;
    color: #444;
}
header ul li ul a.logout {
    color: red;
}
header ul li ul a:hover {
    background: #008489;
}
header ul li a {
    text-decoration: none;
    display: block;
    padding: 21px;
    font-size: 18px;
}
header ul li a:hover {
    background: #046f70;
    transition: 0.5s;
    
}

header .menu-toggle {
    display: none;
}

/* media queries */

@media only screen and (max-width: 750px) { 
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: #046f70;
        max-height: 0px;
        overflow: hidden;
    }
    header ul li {
        width: 100%;

    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul a {
        padding: 10px;
        background-color: #046f70;
        color: white;
        padding-left: 50px;
}
    header .menu-toggle {
        position: absolute;
        display: block;
        right: 20px;
        top: 20px;
        font-size: 1.9em;
    }

}